<%= form_for(@donation) do |f| %>
  <% if @donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% @donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Date %><br>
    <%= Date.today().to_s :Date %>
  </div>
  <div class="field">
    <%= f.label :Amount %><br>
    <%= f.text_field :Amount %>
  </div>
  <div class="field">
    <%= f.label :Donor_id %><br>
    <%= f.collection_select(:Donor_id, Donor.all, :id, :Last_Name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
